<div class="wrapper">
    <div class="registration-logo">
        <img src="../../../assets/icons/BrainfinityLogo1.svg" alt="">
    </div>
    <div class="registration-header"><span>Registracija</span></div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <form [formGroup]="registerFormGroup">
            <mat-step [stepControl]="registerFormGroup.get('firstFormGroup')">
                <div formGroupName="firstFormGroup">
                    <ng-template matStepLabel>Login podaci</ng-template>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="unesi email" formControlName="email" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Lozinka</mat-label>
                        <input matInput type="password" placeholder="unesi lozinku" formControlName="password"
                            required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Potvrda lozinke</mat-label>
                        <input matInput type="password" placeholder="potvrdi lozinku" formControlName="passwordConfirm"
                            required />
                    </mat-form-field>
                    <div>
                        <button class="form-button float-right" mat-button matStepperNext>
                            Sledeći korak
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="registerFormGroup.get('secondFormGroup')">
                <div formGroupName="secondFormGroup">
                    <ng-template matStepLabel>Podaci o timu</ng-template>
                    <mat-form-field>
                        <mat-label>Naziv tima</mat-label>
                        <input matInput formControlName="teamName" placeholder="unesi naziv tima" required />
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Logo tima</mat-label>
                                <ngx-mat-file-input formControlName="logo" placeholder="unesi logo tima" required>
                                </ngx-mat-file-input>
                                <mat-icon matSuffix class="folder-icon">folder</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Slika tima</mat-label>
                                <ngx-mat-file-input formControlName="teamImage" placeholder="unesi sliku tima" required>
                                </ngx-mat-file-input>
                                <mat-icon matSuffix class="folder-icon">folder</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <button class="form-button back float-left" mat-button matStepperPrevious>
                            <mat-icon>keyboard_arrow_left</mat-icon>
                            Nazad
                        </button>
                        <button class="form-button float-right" mat-button matStepperNext>
                            Sledeći korak
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="registerFormGroup.get('thirdFormGroup')">
                <div formGroupName="thirdFormGroup">
                    <ng-template matStepLabel>Članovi tima</ng-template>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>Ime</mat-label>
                                        <input matInput formControlName="teamMemberFirstName"
                                            placeholder="unesi naziv tima" required #firstNameInput />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>Prezime</mat-label>
                                        <input matInput formControlName="teamMemberLastName"
                                            placeholder="unesi naziv tima" required #lastNameInput />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-icon *ngIf="teamMembers.length < 5" class="add-button"
                                        (click)="addTeamMember(firstNameInput.value, lastNameInput.value)">
                                        <span class="add-icon-span">add_circle_outline</span> <span class="add-span">
                                            Dodaj
                                            novog člana</span>
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 list-container">
                            <ul class="list-unstyled offset-3">
                                <li *ngFor="let teamMember of teamMembers; let i = index">
                                    <div class="row">
                                        <mat-icon class="remove-button offset-1" (click)="removeTeamMember(i)">
                                            clear
                                        </mat-icon>
                                        <span class="team-member-name offset-1">{{teamMember.firstName}}
                                            {{teamMember.lastName}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="buttons-wrapper">
                        <div class="buttons-container">
                            <button class="form-button back float-left" mat-button matStepperPrevious>
                                <mat-icon>keyboard_arrow_left</mat-icon>
                                Nazad
                            </button>
                            <button mat-button class="btn btn-primary registration-submit float-right"
                                (click)="onSubmit()"><span>Registruj
                                    se</span></button>

                        </div>
                    </div>
                </div>
            </mat-step>
        </form>
    </mat-horizontal-stepper>
</div>