@font-face{
    font-family: DarkerGrotesqueBlack;
    src: url(DarkerGrotesque-Black.ttf)
}

@font-face{
    font-family: DarkerGrotesqueSemibold;
    src: url(DarkerGrotesque-Semibold.ttf);
}

@font-face{
    font-family: DarkerGrotesqueBold;
    src: url(DarkerGrotesque-Bold.ttf);
}