<div class="dialog">
    <span class="modal-title">Prijava tima</span>
    <form [formGroup]="form">
        <div mat-dialog-content>
            <p>Odaberi takmičenje</p>
            <select formControlName="competitions" [(ngModel)]="competitionId">
                <option *ngFor="let competition of competitions; let i = index" [value]="competition.id">
                    {{competition.competitionName}}
                </option>
            </select>
        </div>
        <div class="dialog-actions float-right" mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="close()" class="btn btn-light"
                type="button">Odustani</button>
            <button mat-raised-button color="warn" [mat-dialog-close]="competitionId" class="btn btn-primary"
                type="button">Potvrdi</button>
        </div>
    </form>
</div>